/* Set Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
/* @fontface 
step-1: https://www.dafont.com/ {chooce font}
setp-2: https://transfonter.org/ {transform font for using web}
*/
@font-face {
  font-family: 'Rosaline Signature';
  src: url('./assets/font/RosalineSignatureRegular.woff') format('woff2'),
      url('./assets/font/RosalineSignatureRegular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset File */
body {
  font-family: 'Open Sans', sans-serif;
}
.custom-font {
  font-family: 'Rosaline Signature', cursive;
}
h1.custom-font {
  font-size: 3.5rem;
  font-weight: 500;
  color: red;
  text-align: center;
}